@import "./../globalStyles/variables.css";

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.DocuFind {
    width: 1280px;
    height: 873px;
    background-image: url("./../images/docuFINDelephant.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DocuFind__header {
    padding-top: 85px;
}

.DocuFind__searchBox {
    margin-top: 70px;
}